[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "*"
clintermission = "*"
pypdf = "*"

[dev-packages]
pyinstaller = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
